html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "Rubik";
  font-weight: 300;
}

body {
  max-width: 1080px;
  padding: 0px 10px 10px 10px;
  margin: auto;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

.pure-menu-link { color: #444; margin-right: 5px; }
.content { margin-top: .5em; }
.pad { line-height: 0; padding: 5px; }
.pad-text { padding: 0 5px; }


/* header */
#top {
  height: 405px;
  padding: 0px 5px .5em 5px;
}
#topimg {
  width: 100%;
  height: 100%;
  background-image: url("/public/img/rysowanie.jpg");
  background-size: cover;
}
.project #top { height: 200px; }
.project #topimg { background-position: left 30% bottom 5%; }

#header { font-weight: 400; }
#header div a { padding: 5px; }


/* about */
#about img {
  height: 100%;
  width: 100%;
}


/* projects */
#projects a {
  display: block;
  line-height: 0;
}
#projects img {
  height: 100%;
  width: 100%;
}


/* project */
#project img {
  height: 100%;
  width: 100%;
}


/* responsive */
@media screen and (min-width: 25em) {
  #header { font-size: 1em; }
}

@media screen and (min-width: 35.5em) {
  #header { font-size: 1.5em; padding: 10px 0px; }
  .pad-text { padding: 0 7%; margin-top: -1em; }
}
