html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "Rubik";
  font-weight: 300;
}

body {
  color: #333;
  max-width: 1600px;
  padding: 0px 10px 10px 10px;
  margin: auto;
  font-size: 1.1em;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

strong { font-weight: 400; }

em { font-style: italic; }

blockquote { margin: 3em 0em; color: #999; }

.pure-menu-horizontal { white-space: normal; }
.pure-menu-link { color: #111; margin-right: 5px; }
.content { margin-top: .5em; }
.pad { position: relative; line-height: 0; padding: 5px; }
.pad-more { line-height: 0; padding: 20px; }
.pad-text { padding: 0 5px; }

a:hover img { opacity: 80%; }

/* header */
#top { height: 200px; padding: 0px 5px .5em 5px; }
.project #top { height: 100px; }
#topimg {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("/public/img/rysowanie.jpg");
  background-size: cover;
  background-position: left 30% bottom 10%;
}
#topimg img { text-align: center; margin: auto; padding-top: 70px; max-height: 40%; max-width: 80%; }
.project #topimg img { padding: 0; max-height: 60%; }

#header { font-weight: 400; }
#header div a { padding: 5px; }


/* columns */
#columns img { height: 100%; width: 100%; }

.column-eng, .column-pol { padding: 10px; }
.column-pol { color: #999; }

.mailme a:link, .mailme a:visited  { color: #333; }

.social { color: #444; font-size: 4em; margin: 0; }
.social a:link, .social a:visited { color: #444; }

/* projects */
#projects a { display: block; line-height: 0; }
#projects img { height: 100%; width: 100%; }


/* project */
#project img { height: 100%; width: 100%; }
#project .icon { color: #FFF; position: absolute; text-shadow: 0 0 .15em #999; }
#project #spinner { display: none; font-size: 3em; left: 50%; top: 50%; transform: translate(-50%, -50%); }
#project .show-arrow { font-size: 2em; top: 50%; transform: translate(0%, -50%); }
#project .show-arrow a { padding: .5em; }
#project .show-arrow a:link, #project .show-arrow a:visited  { color: #FFF; }
#show-prev { left: 2%; }
#show-next { right: 2%; }
#project-thumbs a { display: block; }

#project a:link, #project a:visited  { color: #333; }
#project blockquote a:link, #project blockquote a:visited { color: #999; }


/* super tiny */
@media screen and (min-width: 20em) {
  #columns img { height: 60%; width: 60%; }
}

/* tiny mobile device - show one column */
@media screen and (min-width: 25em) {
}

/* sm: larger device - space around text */
@media screen and (min-width: 35.5em) {
  #header { font-size: 1.5em; padding: 10px 0px; }
  .pad-text { margin-top: -1em; padding: 0 7%; }
  #columns img { height: 100%; width: 100%; }
  #project #spinner { font-size: 5em; }
  #project .show-arrow { font-size: 3em; }
  .mailme { font-size: 1.3em; }
}

/* md: large device - text on the right */
@media screen and (min-width: 48em) {
  .project #top { height: 150px; }
}

/* lg: largest device - images on the right */
@media screen and (min-width: 64em) {
  #top { height: 280px }
  .project #top { height: 200px; }
  #awards p.item { min-height: 160px; }
}
