<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <div id="header">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/" class="pure-menu-link">Projects</a></li>
          <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
          <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
